<!DOCTYPE html>
<html lang="cs"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/style.css" th:href="${'css/style.css'}" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&amp;subset=latin-ext" rel="stylesheet">
    <title>Ukol10 - pexeso (funkční)</title>
</head>
<body>
    <header>
        <div class="header">
            <h1><a href="index.html" th:href=".">Pexeso</a></h1>
        </div>
    </header>

    <main>

        <table>
            <tr>
                <th>ID</th>
                <th>Stav </th>
                <th>Administrace</th>
            </tr>
            <tr th:each="game : ${listOfAllGames}">
                <td th:text="${game.id}">111111111</td>
                <td th:text="${game.stav}">GAME_STATUS</td>
                <td>
                    <form method="post" th:if="${game.stav == T(cz.czechitas.webapp.entity.StavHry).KONEC}"
                    th:action="${'delete/' + game.id + '.html'}">
                        <button><span class="gamelist_button">Smazat hru</span></button>
                    </form>
                    <span th:if="${game.stav != T(cz.czechitas.webapp.entity.StavHry).KONEC}">hra probíhá</span>
                </td>
            </tr>
        </table>
    </main>

    <footer>
        <div class="footer">
            <p>Obrázky na pexeso: <a href="http://www.sarna.net/wiki/Main_Page" target="blank">BattleTechWiki</a>. Copyright: FASA, a potom spousta dalších.</p>
        </div>
    </footer>
    
</body>
</html>
